@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ProductFormModel

@{
    ViewBag.Title = "Add Product";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <form method="post">
        <div class="form-group">
            <div class="mb-2">
                <label asp-for="Name"></label>
            </div>
                <input asp-for="Name" class="form-control" placeholder="Write your product here..."/>
                <span asp-validation-for="Name" class="small text-danger"></span>            
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Add"/>
    </form>
</div>
